.hr {
    border: 0;
    height: 1px;
    background: #dfdfdf;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000000;
    height: 100vh;
}

.dropdown-menu-container {
    position: absolute;
    right: 4%;
    z-index: 100000000;
    top: 86%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.6rem;
    font-size: 0.9rem;
    font-weight: 400;
    width: 220px;
    padding: 1% 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.29);
}

.dropdown-menu-item {
    cursor: pointer;
    padding: 5% 6%;
    margin-top: 1%;
}

#first {
    font-weight: 600;
}

#first,
#last{
    cursor: pointer;
    padding: 5% 6%;
    margin-top: 0;
}


.dropdown-menu-item:hover {
    background-color: #F7F7F7;
}