.search{
    font-size: 0.85rem;
    font-weight: lighter;
    transition: box-shadow .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 0.35rem 0.5rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
    margin-left: 10%;
}

b{
    font-weight: 550;
}

li{
    list-style: none;
}

.searchIcon{

    font-size: 0.7rem;
    background-color: #FF385C;
    color: white;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
}

hr{
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.search:hover{
    box-shadow: 0rem  0.2rem rgba(33, 33, 33, 0.12); 
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .search {
        white-space: nowrap;
        width: 100%;
        margin-left: 0;
    }
  }