.apartment-images{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}
.images{
    display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    transition: 0.5s;
}
