nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 5rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 1px 2px -1px rgba(196,191,191,1);
    -webkit-box-shadow: 0px 1px 2px -1px rgba(196,191,191,1);
    -moz-box-shadow: 0px 1px 2px -1px rgba(196,191,191,1);
}

@media only screen and (max-width: 900px) {
    nav{
        justify-content: center;
    }
  }