a {
    all: unset;
    cursor: pointer;
}

.user_controls {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
}

.user_controls_text {
    font-weight: bold;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 2rem;
    border-radius: 2rem;
    padding: 6%;
    cursor: pointer;
    transition: 0.2s;
}

.user_controls_profile {
    display: flex;
    gap: 1.1rem;
    align-items: center;
    border: 1px solid #dadada;
    padding: 5% 2% 5% 5%;
    border-radius: 2rem;
    transition: 0.5s;
}

.user_controls_globe {
    border-radius: 2rem;
    padding: 6%;
    transition: 0.2s;
}

.user_controls_text:hover {
    background-color: #F7F7F7;
    border-radius: 2rem;
    
}

.user_controls_globe:hover {
    cursor: pointer;
    background-color: #F7F7F7;
    
}

.user_controls_profile:hover{
    box-shadow: 0rem  0.2rem rgba(33, 33, 33, 0.12); 
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .user_controls {
      display: none;
    }
  }